.fondo{
    background-image: url(../static/img/fondo_de_login.png);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

.titulo{
    color: #f8f8f8;
    margin: 0 20px 0;
    margin-left: 0;
    
}

.txt{
    color: #000000;
    
}

.letras{
    color: #ffffff;
    margin-left: 20px;
}

.modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
  
  }


.htt{
    border-radius: 20px;
    background-color: #f6f7f6be;
    padding: 6px 45px 10px 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    
}
a{
    margin: 0 2px 0;
    
}

.navbar-brand{
    margin: 0 2px 0;
}

.borde{
    margin: 30px 0 30px;
    margin-left: 20px;
    background-color: #1425647c;
    padding: 10px 5px;
}

.bordes{
    margin: 30px 0 30px;
    margin-right: 50px;
    margin-left: 110px;
    background-color: #1425647c; 
    padding:90px;
}


.bloque1{
    display: flex;
}

.status{
    margin: 30px 0 30px;
    margin-left: 0px;
    background-color: #1425647c;
    
    
}

.statu{
    margin: 0 40px 0  ;
    margin-left: 135px;
    background-color: #1425647c;
    padding: 10px 50px 5px 10px
    
    ;
}

.barras{
    border: 10px solid rgba(255, 0, 0, 0);
    border-radius: 80px;
    padding: 10px;
    color: #1950A2;
    background-color: #0627949c;
}


.form-container textarea {
    width: 100%;
    padding: 4px;
    margin: 5px 0 2px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

.form-container {
    max-width: 700px;
    padding: 20px;
    background-color: white;
    margin: 1px 0px 0 10px;
}
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.button{
    background-color: #fdfeff;
}
/*Tu estilo CSS aquí para personalizar la apariencia del chat */

.chat-container {
    /* Estilos para el contenedor del chat */
}

.chat-header {
    /* Estilos para el encabezado del chat */
}

.chat-messages {
    /* Estilos para el área de mensajes */
}

.message {
    /* Estilos para cada mensaje */
}

.user {
    /* Estilos para mensajes del usuario */
}

.bot {
    /* Estilos para mensajes del bot */
}

.chat-input {
    /* Estilos para el campo de entrada de mensajes */
}

.equipo{
 width: 200px;

}

.foto{
    width: 100px;
    padding-left: 20px;
}

.gif{
    width: 245px;
padding: 2px 20px 2px 20px;
position: relative;
left: 30px ;
}