.fondo{
    background-image: url(../static/img/PSM.png);
    background-color: #1950A2;
}

.titulo{
    color: #1950a2;
}

.txt{
    color: #ffffff00;
}

.letras{
    color: #fff;
}

.modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
  
  }
.barras{
    color: #A8F2FE;
}

/*Tu estilo CSS aquí para personalizar la apariencia del chat */

.chat-container {
    /* Estilos para el contenedor del chat */
}

.chat-header {
    /* Estilos para el encabezado del chat */
}

.chat-messages {
    /* Estilos para el área de mensajes */
}

.message {
    /* Estilos para cada mensaje */
}

.user {
    /* Estilos para mensajes del usuario */
}

.bot {
    /* Estilos para mensajes del bot */
}

.chat-input {
    /* Estilos para el campo de entrada de mensajes */
}