.fondo{
    background-image: url(../static/img/Interfaz\ Edu\ .png);
    background-color: #1950A2;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

.titulo{
    color: #1950a2;
    margin: 0 20px 0;
    margin-left: 0;
    
}

.txt{
    color: #000000;
    
}

.letras{
    color: #ffffff;
}

.modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
  
  }
.barras{
    color: #A8F2FE;
}

.htt{
    border-radius: 20px;
    border: #A8F2FE solid;
    background-color: #a8f2fe;
    
}
a{
    margin: 0 2px 0;
    
}

.navbar-brand{
    margin: 0 2px 0;
}

/*Tu estilo CSS aquí para personalizar la apariencia del chat */

.chat-container {
    /* Estilos para el contenedor del chat */
}

.chat-header {
    /* Estilos para el encabezado del chat */
}

.chat-messages {
    /* Estilos para el área de mensajes */
}

.message {
    /* Estilos para cada mensaje */
}

.user {
    /* Estilos para mensajes del usuario */
}

.bot {
    /* Estilos para mensajes del bot */
}

.chat-input {
    /* Estilos para el campo de entrada de mensajes */
}