<!DOCTYPE html>
<html>
        <head><meta charset="utf-8"></head>
        <title>dashboard</title>
        <head>
          <link rel="stylesheet" href="../css/css/bootstrap.min.css">
          <link rel="stylesheet" href="dashboard.css">
        </head>
        <body class="fondo"><main>

            <section>
              <nav class="navbar navbar-expand-lg bg-body-tertiary" class="barras">
                <img src="../static/img/logo.png" alt="imagen">
                  <h1 class="titulo">IUPSM</h1>
                  <a class="navbar-brand htt" href="./dashboard.html"><h7 class="txt">Horarios</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item ">
                        <a class="nav-link  active htt" aria-current="page"  href="./agenda.html"><h7 class="txt"> Calendario y Agenda</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active htt" aria-current="page" href="./notas.html"><h7 class="txt">Notas</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle htt" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <h7 class="txt">Redes Sociales
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="https://www.facebook.com/psmcaracasoficial">Facebook</a></li>
                          <li><a class="dropdown-item" href="https://www.instagram.com/psmcaracasoficial/">Instagram</a></li>
                          <li><a class="dropdown-item" href="https://www.tiktok.com/@psmcaracasoficial">Tiktok</a></li>
                        </ul>
                      </li>
                    
                    </ul>
                  </div>
                </div>
              </nav>
        </section>
        <div class="container">
          <div class="row">
            <div class="col-2"div>
              <img src="<php echo $rutaImagen; ?>" alt="foto de perfil" class="letras">
            </div>
              <div class="col-3">
                  <h1 class="letras">Buenos Días <php echo $nombreEstudiante; ?></h1>
                  <h3 class="letras">Carrera:<php echo $carrera_estudiante;></h3>
                  <h4 class="letras">Semestre <php echo $semestre_estudiante;?></h4>
                  <h5 class="letras">Tu Indice es: <php echo $indice_estudiante;?></h5>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button id="openChat" class="btn btn-primary me-md-2">Iniciar Chat</button>
                  
                  <div id="myModal" class="modal" class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <span class="close">&times;</span>
                       <p>Aquí va el contenido del chat</p>
                    </div>
                  <div id="chatWindow" style="display: none;">
                  </div>
                </div>
                <div class="chat-container">
                  <div class="chat-header">
                      <h3 class="letras">Direct Chat</h3>
                      <span class="badge">3</span>
                      <button class="close">X</button>
                  </div>
                      <div class="chat-container">
                        <div class="chat-header">
                            <h3 class="letras">Chat en vivo</h3>
                        </div>
                        <div class="chat-body">
                            </div>
                        <div class="chat-input">
                            <input type="text" id="message-input" placeholder="Escribe tu mensaje">
                            <button id="send-button">Enviar</button>
                        </div>
                    </div>
<script src="../css/js/bootstrap.bundle.min.js"></script>
<script src="./funciones_dashboard.js"></script>
</body>
    </main>
</body></html>
