.fondo{
    background-image: url(../static/img/Interfaz\ Edu\ .png);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

.titulo{
    color: #1950a2;
    margin: 0 20px 0;
    margin-left: 0;
    
}
.htt{
    border-radius: 50px;
    background-color: #3700ff4b;
    padding: 5px 20px 6px 20px;
    
}
a{
    margin: 0 2px 0;
    
}

.navbar-brand{
    margin: 0 2px 0;
}

.borde{
    margin: 30px 0 30px;
    margin-left: 20px;
    background-color: #1425647c;
    padding: 10px 5px;
}

.bordes{
    margin: 30px 0 30px;
    margin-right: 50px;
    margin-left: 110px;
    background-color: #1425647c; 
    padding: auto;
}
.bloque1{
    display: flex;
}

.status{
    margin: 30px 0 30px;
    margin-left: 0px;
    background-color: #1425647c;
    
    
}

.statu{
    margin: 0 40px 0 ;
    margin-left: 135px;
    background-color: #1425647c;
    padding: 10px 100px 10px 100px
    
    ;
}

.barras{
    border: 10px solid rgba(255, 0, 0, 0);
    border-radius: 80px;
    padding: 10px;
    color: #1950A2;
    
    
    background-color: #2ec0f1;
}

.txt{
    color: #000000;
    
}

.letras{
    color: #ffffff;
    margin-left: 20px;
}

body {
    background: #d3cce3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e9e4f0, #d3cce3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e9e4f0, #d3cce3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.centered {
    text-align: center !important;
    vertical-align: middle !important;
     
}

.txt{
color: #ffffff;
}
